/*
HTML5 Doctor Reset v1.6.1
http://html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


@font-face {
  font-family: "Candara";
  src: url(../fonts/Candara.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "KursivC";
  src: url(../fonts/4208.ttf);
}


/***Head***/
header {
  border-width: 7px 0 7px 0;
  border-color: rgb(155, 142, 191);
  border-style: solid;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}


.Footer {
  background-color: rgb(56, 56, 56);
  border-radius: 3px 3px 0 0;
  font-family: "Candara";
  text-align: center;
  padding: 4em;
  margin-top: 3em;
  color: white;
}


/***Logo Stuff***/
.CoffeeLogoText {
  font-size: 60px;
  font-family: "KursivC";
  color: rgb(56, 56, 56);
  line-height: 1.2;
  text-align: center;
  display: inline-block;
}

header > div > img {
  height: 50px;
}

header > div{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***First Part of Site***/
.welcome {
  font-size: calc(0.5em + 3vw);
  display: block;
  width: 35%;
  margin-left: 10%;
  padding: 1.1em;
  border: 7px solid rgb(155, 142, 191);
  border-radius: 100px 10px 100px 100px;
  font-family: "Candara";
  color: rgb(31, 31, 31);
  font-weight: lighter;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.73);
}

.BOx {
  padding-top: 3em;
  box-sizing: border-box;
  width: 100%;
  height: 75vh;
  background-image: url(../img/mainpic.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}


/***Bottom Part of First Part***/
.BottomText {
  font-size: calc(0.5em + 3vw);
  font-family: "Candara";
  color: rgb(31, 31, 31);
  text-align: center;
  margin-bottom: 2em;
}

.BottomText > h3{
  font-weight: lighter;
}


/***HugeBlock and everything inside of it***/
.HugeBlock{
  display: grid;
  grid-template-rows: 60vh 60vh 60vh;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
}

.HugeBlock > div{
  box-sizing: border-box;
}

.subtext{
  font-family: "Candara";
  color: rgb(31, 31, 31);
  font-size: 3em;
  padding: 10vw;
}

.subtext > h3{
  margin-top: 1.5em;
  font-weight: lighter;
  text-align: right;
}

.subtext > p{
  font-weight: lighter;
  text-align: left;
}

.img{
  padding: 2em;
}

.img > img{
  width: 85%;
  border: 7px solid rgb(155, 142, 191);
  border-radius: 10px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.73);
}
