
/***MainStuff***/
body{
  margin: auto;
}
/***Head***/
.Header {
  box-sizing: border-box;
  border-width: 7px;
  border-color: rgb(155, 142, 191);
  border-bottom-style: solid;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 39.27px 11.73px rgba(0, 0, 0, 0.73);
  width: 100%;
  height: 76px;
}

.Footer {
  background-color: rgb(56, 56, 56);
  position: relative;
  top: 380px;
  height: 50px;
  width: 100%;
  font-family: "Calibri";
  text-align: center;
  color: white;
}


/***Logo Stuff***/
.CoffeeLogo {
  margin: auto;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/CoffeeLogo.png); /* Поменяй тут*/
  position: relative;
}

/***First Part of Site***/
.welcome {
  margin:auto;
  font-size: 50px;
  font-family: "Candara";
  font-weight: lighter;
  color: rgb(31, 31, 31);
  text-align: center;
}

.BOx {
  display: block;
  width: 640px;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-width: 7px;
  border-color: rgb(155, 142, 191);
  border-style: solid;
  border-radius: 100px 10px 100px 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 12px 0px #5E5E5E;
  position: relative;
  left: calc(100vw / 6);
  top: calc(100vh / 4);
}

.Pic1 {
  position: absolute;
  top:0;
  width: 100%;
  z-index: -1;
}


/***Bottom Part of First Part***/
.BottomText {
  margin: auto;
  font-size: 52px;
  font-family: "Candara";
  color: rgb(31, 31, 31);
  text-align: center;
  font-weight: lighter;
  position: relative;
}

.Bottom {
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  border-width: 7px;
  border-color: rgb(155, 142, 191);
  border-top-style: solid;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 39.27px 11.73px rgba(0, 0, 0, 0.73);
  position: relative;
  top: calc(100vh / 2 - 60px);
  width: 100%;
  height: calc(100vh / 6);

}


/***HugeBlock and everything inside of it***/
.HugeBlock{
  position: relative;
  top: calc(100vh / 4 + 150px);
  background-color: white;
  display: grid;
  grid-template-rows: 60vh 60vh 60vh;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
}

.HugeBlock > div{
  box-sizing: border-box;
}


.Pic3 {
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  width: 85%;
  border-width: 7px;
  border-color: rgb(155, 142, 191);
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px 12px 0px #5E5E5E;
}

.Pic2 {
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  width: 85%;
  border-width: 7px;
  border-color: rgb(155, 142, 191);
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px 12px 0px #5E5E5E;
}

.Citati {
  padding: 40px;
  margin: auto;
  font-size: 40px;
  font-family: "Candara";
  color: rgb(31, 31, 31);
  text-align: center;
  font-weight: lighter;
  text-align: center;
}

.Name {
  padding: 40px;
  margin: auto;
  font-size: 70px;
  font-family: "Candara";
  color: rgb(31, 31, 31);
  text-align: right;
  font-weight: lighter;
  position: relative;
